persistence:
  enabled: true
initChownData:
  enabled: false
service:
  type: "NodePort"
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: "InfluxDB_v2_Flux"
        type: "influxdb"
        access: "proxy"
        url: "http://myinfluxdb-influxdb2.default.svc.cluster.local/"
        jsonData:
          version: "Flux"
          organization: "8297527383771a6b"
          defaultBucket: "default"
        secureJsonData:
          token: "COfZGSp2644TlZirnCT_-h93g0hGch6_WBZwh5sMF0HBDC2z0DxaBb8gIe3kxjpoTzbnlUbCwiLuMe4cIe2KYg=="
